.SidebarContainer{
    position : 'fixed';
z-index : 999;
width: 100%;
    height :100%;
    background: #0000 ;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease ease-in-out;
    /* opacity: ${({ isOpen }) => (isOpen ? '100%' : '0' )} ; */
    /* top : ${({ isOpen }) => (isOpen ? '0' : '-100')}; */
    /* top:0; */

}

.sidebar__icon {
    color : #fff;
    font-size : 'large';
}

.sidebar__wrapper {
    color: #000;
}

.sidebar__menu {
    display : 'grid';
    grid-template-columns : 1fr;
    grid-template-rows : repeat(6 , 80px);
    text-align : center;

}

@media screen and (max-width : 400px) {
    .sidebar__menu{
        grid-template-rows : repeat(6 , 60px);
    }
}

.sidebar__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.sidebar__link:hover{
    color :'#014554';
    transition : 0.2s ease-in-out;
}

.sidebar__btn {
    display :'flex';
justify-content: center;
}

.sidebar__btnlink{
    border-radius: 50px;
background: #E8BD0D;
white-space:  nowrap;
padding: 10px 22px;
color: #010606;
font-size: 16px;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
}
.sidebar__btnlink:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color : '010606'
}




